#root {
  max-width: 1580px;
  margin: 0 auto;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-btn-icon img{
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.title {
  display: flex;
  margin: 0 0 30px;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.title img {
  -webkit-filter: invert(0%); /* Safari/Chrome */
  filter: invert(0%);
}

img{
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.grip-img{
  -webkit-filter: invert(20%); /* Safari/Chrome */
  filter: invert(20%);
}

ul{
  padding-left: 5px;
}

.w-json-view-container{
  background-color: #1F1F1F !important;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.table-filter {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.read-the-docs {
  color: #888;
}
